<!DOCTYPE html>
<html>
<head>
  <!-- Include the Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 20px;
    }
    
    .graph-container {
      width: 45%;
      height: 400px;
      border: 1px solid #ccc;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }

    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
    
    .space-around { 
        justify-content: space-around; 
    }
    h2 {
      text-align: center;
    }

    ol.common {
    display: table; 
    margin: 0 auto;
    text-align: left;
}
  </style>
</head>
<body>
  <h2>Here are your Netflix stats</h2>

  <div class="flex-container space-around">
    <h1>{{name1}}</h1>
    <h1>{{name2}}</h1>
  </div>

  <div class="flex-container space-around">
    <h3>{{name1}}'s total # minutes watched:</h3>
    <h3>{{name2}}'s total # minutes watched:</h3>
  </div>

  <div class="container">
    <div class="graph-container" id="graph1"></div>
    <div class="graph-container" id="graph2"></div>
  </div>

  <div class="flex-container space-around">
    <h3>{{name1}}'s most watched shows:</h3>
    <h3>{{name2}}'s most watched shows:</h3>
  </div>

  <div class="container">
    <div class="graph-container" id="graph3"></div>
    <div class="graph-container" id="graph4"></div>
  </div>

  <div class="flex-container space-around">
    <h3>Actors {{name1}} can't get enough of:</h3>
    <h3>Actors {{name2}} can't get enough of:</h3>
  </div>

  <div class="container">
    <div class="graph-container" id="graph5"></div>
    <div class="graph-container" id="graph6"></div>
  </div>

  <div class="flex-container space-around">
    <h3>Genres {{name1}} is addicted to:</h3>
    <h3>Genres {{name2}} is addicted to:</h3>
  </div>

  <div class="container">
    <div class="graph-container" id="graph7"></div>
    <div class="graph-container" id="graph8"></div>
  </div>

  <div class="flex-container space-around">
    <h3>Top TV Recommendations for {{name1}}:</h3>
    <h3>Top TV Recommendations for {{name2}}:</h3>
  </div>

  <div class="flex-container space-around">
    <ol>
        {% for i in range(tv_recs1|length) %}
        <li>{{tv_recs1[i]}}</li>
        {% endfor %}
    </ol>
    <ol>
        {% for i in range(tv_recs2|length) %}
        <li>{{tv_recs2[i]}}</li>
        {% endfor %}
    </ol>
  </div>

  <div class="flex-container space-around">
    <h3>Top Movie Recommendations for {{name1}}:</h3>
    <h3>Top Movie Recommendations for {{name2}}:</h3>
  </div>

  <div class="flex-container space-around">
    <ol>
        {% for i in range(netflix_recs1|length) %}
        <li>{{netflix_recs1[i]}}</li>
        {% endfor %}
    </ol>
    <ol>
        {% for i in range(netflix_recs2|length) %}
        <li>{{netflix_recs2[i]}}</li>
        {% endfor %}
    </ol>
  </div>

  <h2>Sometimes Netflix just doesn't hit the spot</h2>

  <div class="flex-container space-around">
    <h3>Movies {{name1}} should check out outside Netflix:</h3>
    <h3>Movies {{name2}} should check out outside Netflix:</h3>
  </div>

  <div class="flex-container space-around">
    <ol>
        {% for i in range(not_netflix_recs1|length) %}
        <li>{{not_netflix_recs1[i]}}</li>
        {% endfor %}
    </ol>
    <ol>
        {% for i in range(not_netflix_recs2|length) %}
        <li>{{not_netflix_recs2[i]}}</li>
        {% endfor %}
    </ol>
  </div>

  <h2>Let's take a look at your blend!</h2>
 
  <h2>The actors both of you love</h3>
  {% if (top_actors|length)==0 %}
    <h2>Oops, looks like you have no common actors</h2>
  {% endif %}
  <ol class="common">
    {% for i in range(top_actors|length) %}
    <li>{{top_actors[i]}}</li>
    {% endfor %}
  </ol>

  <h2>The genres both of you love</h3>
    {% if (top_genres|length)==0 %}
    <h2>Oops, looks like you have no common actors</h2>
    {% endif %}
    <ol class="common">
      {% for i in range(top_genres|length) %}
      <li>{{top_genres[i]}}</li>
      {% endfor %}
    </ol>

  <script>
    // Generate the data for the graphs (replace with your own data)
    var graphs1 = {{graphJSON_minutes1 | safe}};
    
    var graphs2 = {{graphJSON_minutes2 | safe}};

    var graphs3 = {{graphJSON_tv1 | safe}};

    var graphs4 = {{graphJSON_tv2 | safe}};

    var graphs5 = {{graphJSON_actors1 | safe}};

    var graphs6 = {{graphJSON_actors2 | safe}};

    var graphs7 = {{graphJSON_genres1 | safe}};

    var graphs8 = {{graphJSON_genres2 | safe}};
        
    // Set the layout options for the graphs
    var layout = {
        title: 'Graph'
    };
    
    // Plot the graphs
    Plotly.newPlot('graph1', graphs1, layout);
    Plotly.newPlot('graph2', graphs2, layout);
    Plotly.newPlot('graph3', graphs3, layout);
    Plotly.newPlot('graph4', graphs4, layout);
    Plotly.newPlot('graph5', graphs5, layout);
    Plotly.newPlot('graph6', graphs6, layout);
    Plotly.newPlot('graph7', graphs7, layout);
    Plotly.newPlot('graph8', graphs8, layout);
  </script>
</body>
</html>
